:root {
  --oui-font-family: "IBM Plex Sans", sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 0 0 0;
  --oui-color-primary-light: 255 255 255;
  --oui-color-primary-darken: 165 0 0;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 255 255 255;
  --oui-color-link-light: 255 255 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 240 240 240;
  --oui-color-quaternary: 240 240 240;

  --oui-color-danger: 224 11 19;
  --oui-color-danger-light: 238 16 31;
  --oui-color-danger-darken: 225 9 17;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 33 221 155;
  --oui-color-success-darken: 0 180 100;
  --oui-color-success-light: 55 245 183;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 165 29 45;
  --oui-color-warning-light: 192 28 40;
  --oui-color-warning-darken: 165 29 45;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 15 15 15;
  --oui-color-fill-active: 20 20 20;

  --oui-color-base-1: 0 0 0;
  --oui-color-base-2: 0 0 0;
  --oui-color-base-3: 0 0 0;
  --oui-color-base-4: 0 0 0;
  --oui-color-base-5: 0 0 0;
  --oui-color-base-6: 0 0 0;
  --oui-color-base-7: 0 0 0;
  --oui-color-base-8: 0 0 0;
  --oui-color-base-9: 0 0 0;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 224 11 19;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 103 79;
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 0 0 0;
  --oui-gradient-primary-end: 0 0 0;

  --oui-gradient-secondary-start: 0 0 0;
  --oui-gradient-secondary-end: 0 0 0;

  --oui-gradient-success-start: 240 240 240;
  --oui-gradient-success-end: 255 255 255;

  --oui-gradient-danger-start: 238 16 31;
  --oui-gradient-danger-end: 225 9 17;

  --oui-gradient-brand-start: 255 255 255;
  --oui-gradient-brand-end: 255 255 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 220 100;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 15 15 15;
  --oui-gradient-neutral-end: 10 10 10;

  /* rounded */
  --oui-rounded-sm: 0px;
  --oui-rounded: 0px;
  --oui-rounded-md: 0px;
  --oui-rounded-lg: 0px;
  --oui-rounded-xl: 0px;
  --oui-rounded-2xl: 0px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html,
body {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 16px !important;
}
